html {
    height: 100%;
    margin: auto;
    overflow-x: auto;
  }

body
{
    /*background-color: rgb(57, 163, 163);*/
    background-color: #000 ;
    color: #fff;
    font-family:'Cormorant Infant', serif;
    height: auto;
}

nav
{
    background: white;
    color: #000;
    display: flex ;
    justify-content: space-between;
}

nav #mainMenu
{
    display: flex;
    list-style: none;
}

nav #mainMenu li a
{
    display: inline-block ;
    padding: 15px;
    text-decoration: none ;
    text-transform: uppercase ;
    color: #000;
    font-size: 1.5rem ;
}

nav #mainMenu li a:hover
{
    background: rgb(57, 163, 163);
}

nav #openMenu
{
  font-size: 2rem;  
  margin: 20px ;
  display: none;
  cursor: pointer;
}

nav #mainMenu #closeMenu , i
{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-linkedin:hover
{
    color: rgb(92, 92, 204);
}

.fa-github:hover
{
    color: rgb(92, 92, 204);
}

nav #logo
{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 800px)
{
    nav #mainMenu
    {
        height: 100vh;
        position: fixed;
        top:  0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(57, 163, 163);
        transition: top 1s ease ;
        display: none;
    }

    nav #mainMenu #closeMenu 
    {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav #openMenu
    {
        display: block ;
    }

    nav #mainMenu li a:hover
    {
        background: none;
        color: rgb(57, 163, 163) ;
        font-size: 1.6rem;
    }

    #icons i
    {
        display: inline-block;
        padding: 12px;
    }
}

#iconMenu
{
    size: 10px;
}

.fab
{
    color: black;
}

.fa-linkedin .icon:hover
{
    color: #fff;
    opacity: 10%;
}

.btn
{
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.555);
  }

*
{
    box-sizing: border-box ;
    margin : 0;
    padding: 0;
}

#workSolo
{
    width: auto;
    height: auto;
    display: flex;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#previewWork
{
    height: 35vh;
    width: 50vh;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    position: sticky;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

h4
{
    text-align: center;
}

.fa-laptop-code
{
    color: black;
}

.fa-laptop-code:hover
{
    color: rgb(38, 113, 184);
}




#pictCarrou
{
    width: 50vh;
    height: 50vh;
}

#Carrou--Visible
{
    width: 50vh;
    height: 50vh;
}

#aboutMe
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pictMe
{
    width: auto;
    height: auto;
    border-radius: 100%;
    float: right;
    position: relative;
    transform: scaleX(-1); /*this flip the pict*/
    clear: right;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: #fff;
    text-align: center;

}


/* style for the Caroussel*/

#carroussel
{
    overflow: hidden;
    max-width: 600px;
    position: relative;
}

#carroussel #carroussel_item ,
#carroussel #carroussel_item--hiden
{
    display: none;
}

#carroussel #carroussel_item img
{
    width: 100%;
    max-width: 600px;
    height: auto;
}

#carroussel #carroussel_item--visible
{
    display: block;
}

#carroussel #carroussel_action
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#carroussel #carroussel_action button
{
    border-radius: 50px;
    border : none ;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#carroussel #carroussel_action button #carroussel_button--prev
{
    margin-left: 20px;
}

#carroussel #carroussel_action button #carroussel_button--next
{
    margin-right: 20px;
}

#carroussel
{
   margin: auto; 
}

img
{
    margin: auto;
    padding: auto;
}

#soloProject
{
    margin: auto;
    padding: auto;
}