body
{
    background-color: rgb(57, 163, 163);
    font-family:'Cormorant Infant', serif;
}

nav
{
    background: white;
    color: #000;
    display: flex ;
    justify-content: space-between;
}

nav #mainMenu
{
    display: flex;
    list-style: none;
}

nav #mainMenu li a
{
    display: inline-block ;
    padding: 15px;
    text-decoration: none ;
    text-transform: uppercase ;
    color: #000;
    font-size: 1.5rem ;
}

nav #mainMenu li a:hover
{
    background: rgb(57, 163, 163);
}

nav #openMenu
{
  font-size: 2rem;  
  margin: 20px ;
  display: none;
  cursor: pointer;
}

nav #mainMenu #closeMenu , i
{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav #logo
{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 800px)
{
    nav #mainMenu
    {
        height: 100vh;
        position: fixed;
    }
}

.fab
{
    color: black;
}

.fa-linkedin .icon:hover
{
    color: #fff;
    opacity: 10%;
}

.btn
{
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.555);
  }

*
{
    box-sizing: border-box ;
    margin : 0;
    padding: 0;
}